<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>footer</title>
  <link rel="stylesheet" href="">
</head>

<body>

<!-- common cta -->
  <section class="container-fluid common-cta">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 text-center">
          <h4>Just give a Hi on Whatsapp or a Miss Call</h4>
          <ul>
            <li><a href="https://api.whatsapp.com/send?phone=+918851433025&amp;text=Hi" class="btn btn-primary"><img
                  src="./images/common-images/whatsapp.png" class="img-fluid" alt="">+91 88514 33025</a></li>
            <li><a href="tel:+919654043916" class="btn btn-danger"><img src="./images/common-images/phone.png"
                  class="img-fluid" alt=""> +91 96540 43916</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- //common cta -->

  <!-- fix whatsapp and phone -->
  <section class="container-fluid fix-whatsapp d-md-none d-lg-none d-sm-block">
    <ul class="text-center">
      <li><a href="tel:+91 1203532325" class="btn btn-primary">call us</a></li>
      <li><a href="https://api.whatsapp.com/send?phone=+918285504824&amp;text=Hi" class="btn btn-info">whatsapp</a></li>
    </ul>
  </section>
  <!-- fix whatsapp and phone -->

  <!-- footer -->
  <footer class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-lg-3">
          <div class="footer-logo">
            <!-- <img src="./images/common/logo.png" class="img-fluid" alt="logo"> -->
            <p>Archane Design</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-lg-3">
          <div class="footer-menu">
            <h3>quick menu</h3>
            <ul>
              <li><a href="">about</a></li>
              <li><a href="">profile</a></li>
              <li><a href="">architecture</a></li>
              <li><a href="">interior</a></li>
              <li><a href="">landscaping</a></li>
              <li><a href="/contact.html">contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-lg-3">
          <div class="footer-social-media">
            <h3>connect on social media</h3>
            <ul>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
              <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-lg-3">
          <div class="footer-contact">
            <h3>contact now</h3>
            <ul>
              <li><i class="fa fa-map-marker"></i><strong> Registered Office:</strong> S-10, First Floor, Nagar
                Palika Market, Mangal Bazar Road, Amroha - 244221</li>
              <li><i class="fa fa-map-marker"></i> 1507/22, Lotus Bouleward, Sec-100, Noida - 201304</li>
              <li><i class="fa fa-phone"></i> <a href="tel:9654043916"> +91-96540 43916</a></li>
              <li><i class="fa fa-whatsapp"></i> <a
                  href="https://api.whatsapp.com/send?phone=+91 8851433025"> +91-88514 33025</a></li>
              <!-- <li><i class="fa fa-envelope"> </i> <a href="mailto:zaxispro@gmail.com">zaxispro@gmail.com</a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 text-center pt-3">
          <p>Archane Design &copy; 2020 | All Rights Reserved | Design & Developed by <strong>Firoz</strong></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- //footer -->

  <!-- <script src="/js/lazysizes.min.js"></script> -->

</body>